{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{% static 'basic.css' %}">

    <script type='text/javascript'>
        let onclick_count = 0

        function addFields(data) {
            console.log(data);
            onclick_count += 1
            // Generate a dynamic number of inputs
            var number = document.getElementById("no_of_values").value;
            var temp = number
            // Get the element where the inputs will be added to
            var container = document.getElementById("form");
            // Remove every children it had bef ore

            if (onclick_count > 1) {

                const startingPoint = document.getElementById("start");
                const endingPoint = document.getElementById("no_of_values" + onclick_count);
                const last = document.getElementById("form")
                console.log(last.lastElementChild)

                while (startingPoint.nextElementSibling &&
                    startingPoint.nextElementSibling !== endingPoint) {
                    console.log(startingPoint.nextElementSibling)
                    startingPoint.nextElementSibling.remove();
                }
            }


            for (i = 0; i < number; i++) {
                // Append a node with a random text

                container.append(document.createElement("br"))
                container.append(document.createElement("br"));

                // Create an <input> element, set its type and name attributes
                var start = document.createElement("br");
                start.id = "start"
                container.append(start)
                var input = document.createElement("SELECT");

                var label = document.createElement('label');
                var text = document.createElement('label');
                text.id = "no_of_values " + (i + 1)
                text.innerHTML = "no_of_values " + (i + 1);
                container.append(text);

                container.append(document.createElement("br"));


                label.id = "lab_os_" + i;
                label.innerHTML = "OS";

                container.append(label);
                input.type = "text";
                input.name = "_OS_" + i;
                input.id = "_OS_" + i;
                container.append(input);
                // Append a line break 
                container.append(document.createElement("br"));
                var option;
                var dataNode = document.getElementById('_OS_' + i);

                for (let i = 0; i < data.length; i++) {
                    console.log(dataNode);
                    var opt = document.createElement('option');
                    opt.value = data[i];
                    opt.innerHTML = data[i];

                    dataNode.appendChild(opt);
                }

                var input = document.createElement("input");
                var label = document.createElement('label');
                label.innerHTML = "98_percentile";
                label.id = "lab_98_percentile"
                container.append(label);
                input.type = "text";
                input.name = "_98_percentile" + i;
                input.id = "_98_percentile" + i;
                container.append(input);
                // Append a line break 
                container.append(document.createElement("br"));

                var input = document.createElement("input");
                var label = document.createElement('label');
                label.innerHTML = "Avg_";
                label.id = "lab_Avg_"
                container.append(label);
                input.type = "text";
                input.name = "_Avg_" + i;
                input.id = "_Avg_" + i;

                container.append(input);
                // Append a line break 
                container.append(document.createElement("br"));

                var input = document.createElement("input");
                var label = document.createElement('label');
                label.innerHTML = "VD_bench_";
                label.id = "lab_VD_bench_"
                container.append(label);
                input.type = "file";
                input.accept = "image/png, image/jpeg";
                input.name = "_VD_bench_" + i;
                input.id = "_VD_bench_" + i;
                container.append(input);
                // Append a line break 
                container.append(document.createElement("br"));

                var input = document.createElement("input");
                var label = document.createElement('label');
                label.innerHTML = "fio_graph_";
                label.id = "lab_fio_graph_"
                container.append(label);
                input.type = "file";
                input.accept = "image/png, image/jpeg";
                input.name = "_fio_graph_" + i;
                input.id = "_fio_graph_" + i;
                container.append(input);
                // Append a line break 
                container.append(document.createElement("br"));

                var input = document.createElement("input");
                var label = document.createElement('label');
                label.innerHTML = "total_vols_";
                label.id = "lab_total_vols_"
                container.append(label);
                input.type = "text";
                input.name = "_total_vols_" + i;
                input.id = "_total_vols_" + i;
                container.append(input);

                // Append a line break 
                container.append(document.createElement("br"));

                var input = document.createElement("input");
                var label = document.createElement('label');
                label.innerHTML = "total_lun_maps_";
                label.id = "lab_total_lun_maps_"
                container.append(label);
                input.type = "text";
                input.name = "_total_lun_maps_" + i;
                input.id = "_total_lun_maps_" + i;
                container.append(input);
                // Append a line break 
                container.append(document.createElement("br"));

                var input = document.createElement("input");
                var label = document.createElement('label');
                label.innerHTML = "Dt_io_luns_";
                label.id = "lab_Dt_io_luns_"
                container.append(label);
                input.type = "text";
                input.name = "_Dt_io_luns_" + i;
                input.id = "_Dt_io_luns_" + i;
                container.append(input);
                // Append a line break 
                container.append(document.createElement("br"));

                var input = document.createElement("input");
                var label = document.createElement('label');
                label.innerHTML = "Dt_io_mountpts_";
                label.id = "lab_Dt_io_mountpts_"
                container.append(label);
                input.type = "text";
                input.name = "_Dt_io_mountpts_" + i;
                input.id = "_Dt_io_mountpts_" + i;
                container.append(input);
                // Append a line break 
                container.append(document.createElement("br"));

                var input = document.createElement("input");
                var label = document.createElement('label');
                label.innerHTML = "VD_bench_luns_";
                label.id = "lab_VD_bench_luns_"
                container.append(label);
                input.type = "text";
                input.name = "_VD_bench_luns_" + i;
                input.id = "_VD_bench_luns_" + i + "_";
                container.append(input);
                // Append a line break 
            }
        }
    </script>


</head>

<body>

    <h2>HTML Forms</h2>



    <form action="" id="form" method="post">
        {% csrf_token %}
        <input type="submit" name='submit' value="Submit">
        <br><br>

        <label for="Ontap_release">Ontap release: </label>
        <select id="Ontap_release" name="Ontap_release" form="form">
            {% for val in data.Ontap_release%}
            <option value='{{ val }}'>{{ val }}</option>
            {% endfor %}
        </select>


        <label for="Ontap_version">Ontap version: </label>
        <select id="Ontap_version" name="Ontap_version" form="form">
            {% for val in data.Ontap_version%}
            <option value='{{ val }}'>{{ val }}</option>
            {% endfor %}
        </select>


        <label for="Protocol">Protocol: </label>
        <select id="Ontap_version" name="Ontap_version" form="form">
            {% for val in data.Ontap_version%}
            <option value='{{ val }}'>{{ val }}</option>
            {% endfor %}
        </select>


        <label for="Persona">Persona: </label>
        <select id="Ontap_version" name="Ontap_version" form="form">
            {% for val in data.Ontap_version%}
            <option value='{{ val }}'>{{ val }}</option>
            {% endfor %}
        </select>

        <label for="Date">Date: </label>
        <input type="date" id="Date" name="Persona">
        <label for="SFO">SFO: </label>
        <select id="Ontap_version" name="Ontap_version" form="form">
            {% for val in data.Ontap_version%}
            <option value='{{ val }}'>{{ val }}</option>
            {% endfor %}
        </select>


        <label for="Nate_log_dir">Nate Log Directory : </label>
        <input type="text" id="Nate_log_dir" name="Nate_log_dir">
        <label for="Vol_share_dir">Volume Share Directory: </label>
        <input type="text" id="Vol_share_dir" name="Vol_share_dir">
        <label for="Features">Features: </label>
        <input type="text" id="Features" name="Features">
        <label for="avg_cpu_util">Average CPU utilitization: </label>
        <input type="text" id="avg_cpu_util" name="avg_cpu_util">
        <label for="dashboard_disp">dashboard display: </label>
        <input type="radio" name="yes_no" value="yes" checked>Yes
        <input type="radio" name="yes_no" value="no">No


        <label for="PTT_type">PTT Type: </label>
        <select id="Ontap_version" name="Ontap_version" form="form">
            {% for val in data.Ontap_version%}
            <option value='{{ val }}'>{{ val }}</option>
            {% endfor %}
        </select>

        <label for="no_of_values"> Number of Values to be entered: </label>
        <input type="text" id="no_of_values" name="no_of_values">
        <a href="#" id="filldetails" name='filldetails' onclick="addFields({{ data.Ontap_release|safe }}
  )">Fill Details</a>
        <br>

    </form>

</body>

</html>